.transition-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transition-image img {
  width: 800px;
  display: flex;
}
.transition-image
.final {
  display: block;
  top: -128px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  z-index: -100;
}
@media (max-width: 480px) {
  .transition-image
  .final {
    top: -56px;
  }
}
.transition-image
.final img {
  width: 100%;
  max-width: 100%;
}
